[user]
	name = Erik Ekstedt
	email = erikerikekstedt@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub

[gpg]
	format = ssh

[commit]
	gpgsign = true

[core]
	editor = nvim
	pager = delta
	excludesfile = ~/.gitignore_global

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[init]
	defaultBranch = main

[alias]
	lo = log --oneline --graph --decorate -20
	st = status
	di = diff
	co = checkout
	br = branch
